body {
    background-color: white;
}
.credits {
    font-family: Helvetica;
    color: gray;
}
#title {font-family: Helvetica; font-size: 30pt; border: solid; 
	border-bottom-color: black; border-bottom-width: 3px}
#subheading {
	font-family: Helvetica;
}

.sidebar {
	overflow:auto;
   width: 260px;
   height: 100%;
   position: fixed;
   left: 0px;
   top: 0px;
   background-color: green;
}
